{{define "index2"}}
{{template "header" .}}
<div class="page-header" id="banner">
</div>
<h1>{{.Item.Title}}</h1>
<img src="{{.Item.Image}}">
<h2>{{.Item.ASIN}}</h2>
<a href="http://www.amazon.co.jp/dp/{{.Item.ASIN}}"><button>買いに行く</button></a>

{{if .Message}}
<h3>{{.Message}}</h3>
{{end}}
<div class="bs-component">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>価格</th>
            <th>販売者</th>
            <th>商品状態</th>
            <th>発送までの期間</th>
            <th>記録日時</th>
        </tr>
        </thead>
        <tbody>
        {{range .ProductStocks}}
        <tr>
            <th>{{.Amount}}</th>
            <th>{{.Channel}}</th>
            <th>{{.Conditions}}</th>
            <th>{{.ShippingTime}}</th>
            <th>{{.InsertTime}}</th>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{template "footer" .}}
{{end}}